body,
html {
  margin: 0;
  padding: 0;
  background: black;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}

.slideshow {
  position: absolute;
  width: 100%;
  height: 100%;
}

.nav-zone {
  position: absolute;
  top: 0;
  width: 50%;
  height: 100%;
  z-index: 3; /* on top of everything */
  cursor: pointer;
}

.left-zone {
  left: 0;
}

.right-zone {
  right: 0;
}

.bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  filter: blur(30px) brightness(0.5);
  transform: scale(1.1);
  z-index: 1;
  opacity: 0;
  transition: opacity 1.5s ease-in-out;
}

.slideshow-img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  object-fit: contain; /* preserve aspect ratio */
  z-index: 2;
  opacity: 0;
  transition: opacity 1.5s ease-in-out;
  animation: panzoom 5s ease-in-out forwards;
}

@keyframes panzoom {
  0% {
    transform: translate(-50%, -50%) scale(1);
  }
  100% {
    transform: translate(-50%, -50%) scale(1.1);
  }
}

.download-btn {
  cursor: pointer;
  position: absolute;
  bottom: 20px;
  right: 20px;
  z-index: 10;
  background: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 10px 15px;
  border-radius: 5px;
  text-decoration: none;
  font-family: sans-serif;
  font-size: 14px;
  transition: background 0.3s;
}

.download-btn:hover {
  background: rgba(0, 0, 0, 0.4);
}

/* .counter {
  position: absolute;
  bottom: 20px;
  left: 20px;
  z-index: 3;
  color: white;
  font-size: 16px;
  background: rgba(0, 0, 0, 0.4);
  padding: 6px 10px;
  border-radius: 6px;
} */

.progress-container {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 6px;
  width: 100%;
  background: rgba(255, 255, 255, 0.1);
  z-index: 3;
}
.progress-bar {
  height: 100%;
  width: 0%;
  background: white;
  transition: width 0.5s ease;
}
